@import "./utils/mixins.scss";
@import "./utils/variables.scss";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;

  background-color: $main-gray;
  color: rgba(0, 0, 0, 0.87);;
}

button {
  cursor: pointer;
}

.main-container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;

  @include onTablet {
    padding: 0 32px;
  }

  @include onDesktop {
    padding: 0 60px;
  }
}
