@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.header {
  background: #FFFFFF;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 15px;

    @include onTablet {
      padding: 13px 32px;
    }

    @media all and (min-width: 1170px){
      width: 1170px;
      margin: 0 auto;
      padding: 13px 0;
    }
  }

  &__logo {
    transition: transform .3s;
    display: flex;
    align-items: center;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;

    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 26px;
  }
}
